body {
    margin: 0;
    font-family: sans-serif;
}

nav {
    background: #234467 ;
    padding: 15px;

}

nav li {
    padding: 0 70 px;
    display: inline-block;
}

nav li a {
    color: white;
    text-decoration: none;
}
 